In [41]:
l = []

In [42]:
type(l)

list

In [43]:
li = [1,2,3,4,4,5,"Atul","ram",3+6j,34.433 , True ,[3,4,2]]

In [44]:
li

[1, 2, 3, 4, 4, 5, 'Atul', 'ram', (3+6j), 34.433, True, [3, 4, 2]]

In [45]:
li[-1]

[3, 4, 2]

In [46]:
li[3]

4

In [47]:
li[-1][2] #this will give inside value of list of list

2

In [48]:
li[1:6] # for slicing of list

[2, 3, 4, 4, 5]

In [49]:
l2 = [2,4,5,"sudh",True]

In [50]:
li + l2 # we can add two list or contracting two list { necessary data type should be same string and string , or list and list}

[1,
 2,
 3,
 4,
 4,
 5,
 'Atul',
 'ram',
 (3+6j),
 34.433,
 True,
 [3, 4, 2],
 2,
 4,
 5,
 'sudh',
 True]

In [51]:
l2*2 #it will repeat two times

[2, 4, 5, 'sudh', True, 2, 4, 5, 'sudh', True]

In [52]:
li[0]

1

In [53]:
li[0]= 300 #here inside we can change value

In [54]:
li # list is mutable but string is immutable

[300, 2, 3, 4, 4, 5, 'Atul', 'ram', (3+6j), 34.433, True, [3, 4, 2]]

In [55]:
# tuple           {operations are same}
t = (1,2,3,5,4,6,7,'sudh',True,4+5j)

In [56]:
t

(1, 2, 3, 5, 4, 6, 7, 'sudh', True, (4+5j))

In [57]:
type(t)

tuple

In [58]:
t[::-1]#to complete reverse order

((4+5j), True, 'sudh', 7, 6, 4, 5, 3, 2, 1)

In [59]:
#we can't change the value of tuple as like string so it is immutable
t[0]=300 #it will give error  {list is mutable}

TypeError: 'tuple' object does not support item assignment

In [60]:
t1=(3,4,"ede")

In [61]:
t+t1

(1, 2, 3, 5, 4, 6, 7, 'sudh', True, (4+5j), 3, 4, 'ede')

In [62]:
len(t) #it will give length

10

In [63]:
len("sud   h") # it will give length of "sud   h"

7

In [64]:
list(t)#truple canbe converted to list or vice-versa

[1, 2, 3, 5, 4, 6, 7, 'sudh', True, (4+5j)]

In [65]:
l2

[2, 4, 5, 'sudh', True]

In [66]:
tuple(l2)

(2, 4, 5, 'sudh', True)

In [67]:
s={} #dict

In [68]:
type(s)

dict

In [69]:
s1 = {1,2,3,4,5,5,6,7}   # set

In [70]:
type(s1)

set

In [71]:
s1 #  set always try  to remove dublicate

{1, 2, 3, 4, 5, 6, 7}

In [72]:
s2 = { "sudh","sudh","Sudh","ram",1,2,3,4,5,5,5,6,6,7,8}

In [73]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 'Sudh', 'ram', 'sudh'}

In [74]:
list(s2) #type casting of set to list

[1, 2, 3, 4, 'ram', 5, 6, 7, 8, 'Sudh', 'sudh']

In [75]:
set(li) # list inside list can't be type cast

TypeError: unhashable type: 'list'

In [76]:
tuple(s2) # set can be change by truple

(1, 2, 3, 4, 'ram', 5, 6, 7, 8, 'Sudh', 'sudh')

In [77]:
# set is not supporting slicing or change value is not able . it is immutable. indexing is not allowed

In [78]:
s3={1,2,4,3,4,3,343,33333333334,333333333334, "ram"}

In [79]:
s3 # set just cut duplicate but not sort the order of data in big on

{1, 2, 3, 333333333334, 33333333334, 343, 4, 'ram'}

In [80]:
d ={}

In [81]:
type(d)

dict

In [82]:
d1 ={'name':'Atul','subject': ['data science','big data','data analytic'],"number":532689}

In [83]:
d1

{'name': 'Atul',
 'subject': ['data science', 'big data', 'data analytic'],
 'number': 532689}

In [84]:
d2 = {'name':'sudh','name':'raj'}

In [85]:
d2

{'name': 'raj'}

In [86]:
#key can be tuple,string,int
# not allowed as keyspecial character ,set ,list
"""'name':'sudh'
key : value pair
where i need my control so ther we use dictionary
we can add dictionary inside a dictionary"""
d4 ={'course':["ram","mohan","raj"],'mentor':("atul","ytd","tyuf"),'prce':{345,587,567,7,7},"syllabus":{'python':['corepython','basic','oops','web']}}

In [87]:
d4

{'course': ['ram', 'mohan', 'raj'],
 'mentor': ('atul', 'ytd', 'tyuf'),
 'prce': {7, 345, 567, 587},
 'syllabus': {'python': ['corepython', 'basic', 'oops', 'web']}}

In [88]:
d4['course']

['ram', 'mohan', 'raj']

In [89]:
d4['prce']

{7, 345, 567, 587}

In [90]:
d2['phone number' ] =483206593

In [91]:
d2

{'name': 'raj', 'phone number': 483206593}

In [92]:
d2['name'] = 'mohan'

In [93]:
d2 # it is mutable it overwrite the value  if value is not present it will add if there then it replace

{'name': 'mohan', 'phone number': 483206593}

In [94]:
s1 = "pwskills"

In [95]:
s1.count('s') # it will give number of occurance os the word or string

2

In [96]:
s1.find('w') #it will give position of the word

1

In [97]:
s1.index('w') #index can give negative if value is not there in the function

1

In [98]:
s1.upper()

'PWSKILLS'

In [99]:
s1.lower()

'pwskills'

In [100]:
s1.title()

'Pwskills'

In [101]:
s2 = 'my name is atul'

In [102]:
s2.title()

'My Name Is Atul'

In [103]:
s2.split() #it splits on the basic of space

['my', 'name', 'is', 'atul']

In [104]:
s2.split('s') #it will split on the bassic of " s"

['my name i', ' atul']

In [105]:
s2.split('s')[0]

'my name i'

In [106]:
s2.split('s')[1] # it will give the value of second position

' atul'

In [107]:
s2.capitalize() # it will give capital of only first letter

'My name is atul'

In [108]:
s2.replace('n','a') #it will replace n by  a in function

'my aame is atul'

In [109]:
s2.center(40,'f')

'ffffffffffffmy name is atulfffffffffffff'

In [110]:
s1.rstrip()

'pwskills'

In [111]:
s1.lstrip()

'pwskills'

In [112]:
s1.isalpha()

True

In [113]:
s1.isalnum()

True

In [114]:
s1.islower()

True

In [115]:
li.append("sudh") # addd this

In [116]:
li

[300, 2, 3, 4, 4, 5, 'Atul', 'ram', (3+6j), 34.433, True, [3, 4, 2], 'sudh']

In [117]:
li.insert(3,'pwskills')

In [118]:
li

[300,
 2,
 3,
 'pwskills',
 4,
 4,
 5,
 'Atul',
 'ram',
 (3+6j),
 34.433,
 True,
 [3, 4, 2],
 'sudh']

In [119]:
li.extend("atul")

In [120]:
li

[300,
 2,
 3,
 'pwskills',
 4,
 4,
 5,
 'Atul',
 'ram',
 (3+6j),
 34.433,
 True,
 [3, 4, 2],
 'sudh',
 'a',
 't',
 'u',
 'l']

In [121]:
li = [1,3,4,5,6,7,]

In [122]:
li.append([3,4,5])

In [123]:
li

[1, 3, 4, 5, 6, 7, [3, 4, 5]]

In [124]:
li.insert(1,[6,7,28])

In [125]:
li

[1, [6, 7, 28], 3, 4, 5, 6, 7, [3, 4, 5]]

In [126]:
li.extend([42,43,44])

In [127]:
li

[1, [6, 7, 28], 3, 4, 5, 6, 7, [3, 4, 5], 42, 43, 44]

In [128]:
li.pop() # deleting from last

44

In [129]:
li

[1, [6, 7, 28], 3, 4, 5, 6, 7, [3, 4, 5], 42, 43]

In [130]:
del s2 #delete the string

In [131]:
li

[1, [6, 7, 28], 3, 4, 5, 6, 7, [3, 4, 5], 42, 43]

In [132]:
li.remove(7)

In [133]:
li

[1, [6, 7, 28], 3, 4, 5, 6, [3, 4, 5], 42, 43]

In [134]:
li.clear()

In [135]:
li

[]

In [136]:
del li

In [137]:
li

NameError: name 'li' is not defined

In [138]:
li=[2,3,4,5,3,2,5,]

In [139]:
li

[2, 3, 4, 5, 3, 2, 5]

In [140]:
li.reverse()

In [141]:
li

[5, 2, 3, 5, 4, 3, 2]

In [142]:
li.sort()

In [143]:
li # it will arrange in order

[2, 2, 3, 3, 4, 5, 5]

In [144]:
li2 = ["atul","rsm","kihs"]

In [145]:
li2.sort() #li2.sort(reverse=True) in decending order

In [146]:
li2

['atul', 'kihs', 'rsm']

In [147]:
l0 = [2,3,4,5]

In [148]:
l1=l0 #swallow copy( in  this data will change after changing l0

In [149]:
l1

[2, 3, 4, 5]

In [150]:
l0

[2, 3, 4, 5]

In [151]:
l0[0]=100

In [152]:
l1

[100, 3, 4, 5]

In [153]:
l2=l0.copy() #deep copy ( in  this data will not change after changing l0)

In [154]:
l2

[100, 3, 4, 5]

In [155]:
l0[1]=300

In [156]:
l2

[100, 3, 4, 5]

In [157]:
l1

[100, 300, 4, 5]

In [158]:
s={2,3,4,5,6,7}

In [159]:
s

{2, 3, 4, 5, 6, 7}

In [160]:
s.discard(4)

In [161]:
s

{2, 3, 5, 6, 7}

In [162]:
s.add(4)

In [163]:
s

{2, 3, 4, 5, 6, 7}

In [164]:
d2

{'name': 'mohan', 'phone number': 483206593}